```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
*$pyc.class
*$pyo.class

# Testing
.pytest_cache/
.coverage
coverage/
htmlcov/

# Environment
.env
.env.local
*.env
*.env.*

# Dependencies
venv/
.venv/
.envrc
.venv.bak/
```